<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Smartphone store API</h1>
    <h3>By Company Example</h3>
    <p>API: <a href={{by_company}}>{{by_company}}</a></p>
    <br>
    <h3>By RAM Example</h3>
    <p>API: <a href={{by_RAM}}>{{by_RAM}}</a></p>
    <br>
    <h3>By Memory Example</h3>
    <p>API: <a href={{by_memory}}>{{by_memory}}</a></p>

</body>
</html>